<!-- Order item card image template -->
<div class="card mb-3 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
         focusable="false" role="img" aria-label="Placeholder: Thumbnail">

        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c"></rect>
         <a href="{% url 'main:order_item_details' pk=order_item.id %}">
            <image xlink:href="{{ MEDIA_URL }}{{ order_item.image }}" x="0" y="0" width="100%" height="100%"/>
        </a>

        <text x="15%" y="10%" fill="#eceeef" dy=".3em">{{ order_item.name }}</text>
        <text x="15%" y="20%" fill="#eceeef" dy=".3em" class="bg">Количество: {{ order_item.total_quantity }}</text>
        <text x="15%" y="50%" fill="#eceeef" dy=".3em">Комментарий:</text>
        <text x="15%" y="60%" fill="#eceeef" dy=".3em">{{ order_item.order_comment }}</text>
     </svg>
    <div class="card-body py-2">
        <div class="d-flex justify-content-between align-items-center">
            <p class="pt-3">{{ order_item.price }} ₽</p>
            <p class="pt-3">Статус: {{ order_item.item_status_str }}</p>
        </div>
    </div>
</div>