<!-- Modal window -->
<div class="modal fade" id="{{ modal_lable }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal_lable }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ modal_lable }}">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% if delete_flag == True %}


          <img class="d-block w-100"
                 src="{{ MEDIA_URL }}{{ modal_body }}">
          {% else %}
                  {{ modal_body }}
          {% endif %}
      </div>
      <div class="modal-footer">
          {% if delete_flag == True %}
              <button class="btn btn-secondary btn-sm" type="submit" form="delete_form">Удалить</button>
              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Отмена</button>
          {% else %}
              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Закрыть</button>
          {% endif %}
      </div>
    </div>
  </div>
</div>