{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Test Shop Title
        {% endblock %}
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Main styles -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="mb-3 border-bottom box-shadow">
        <div class="container">
        <div class="row justify-content-between">
            <div class="col-6">
                <h2 class="d-flex justify-content-between align-items-center py-2">
                     <a class="nav-link active" href="{% url 'main:index' %}" style="color: rgba(0,0,0,.5);">{{ shop_title }}</a>
                </h2>
            </div>
                {% if user_is_authenticated %}
                    <div class="col-6">
                        <div class="py-2 text-right">
                            <span> Привет, <a href="{% url 'main:user_details' pk=user_pk %}" title="Детальная информация о пользователе">{{ user_first_name }} ({{ email }})</a>!</span>
                            <a class="py-2 btn btn-sm btn-outline-secondary" href="{% url 'main:logout' %}">Выход</a>
                            {% if user_role == roles.ADMINISTRATOR %}
                                <a class="py-2 btn btn-sm btn-outline-secondary" href="{% url 'main:administrator' %}">Личный кабинет</a>
                            {% elif user_role == roles.ZAKUPSCHIK %}
                                <a class="py-2 btn btn-sm btn-outline-secondary" href="{% url 'main:zakupschik' %}">Личный кабинет</a>
                            {% else %} {# 'ZAKAZSCHIK' #}
                                <a class="py-2 btn btn-sm btn-outline-secondary" href="{% url 'main:zakazschik' %}">Личный кабинет</a>
                            {% endif %}
                        </div>
                {% else %}
                    <div class="col-3 text-right">
                        <div class="py-3 btn-group">
                            <a class="btn btn-sm btn-outline-secondary " href="{% url 'main:signup' %}">Регистрация</a>
                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'main:login' %}">Войти</a>
                        </div>
                {% endif %}
                    </div>
                    </div>
            </div>
        </div>
    </div>
    {% block content %}
        No content
    {% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
