{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock title %}

{% block content %}
    <h3 class="font-weight-normal text-center text-muted" style="color: #6c757d">
        Пожалуйста войдите
    </h3>

    <hr class="mb-4">
    <form class="form-signin my-3 p-3 bg-white rounded shadow-sm" id="login" name="login" method="post">

        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                Данные были введены некорректно
            </div>
        {% endif %}

        <div class="form-group row">
            <label for="id_old_password" class="col-5 col-form-label">Старый пароль</label>
            <div class="col-7">
                <input class="form-control" type="password" name="old_password" autofocus="" required="" id="id_old_password">
            </div>
        </div>

        <div class="form-group row">
            <label for="id_new_password1" class="col-5 col-form-label">Новый пароль</label>
            <div class="col-7">
                <input class="form-control" type="password" name="new_password1" required="" id="id_new_password1">
            </div>
        </div>

        <div class="form-group row">
            <label for="id_new_password2" class="col-5 col-form-label">Подтверждение нового пароля</label>
            <div class="col-7">
                <input class="form-control" type="password" name="new_password2" required="" id="id_new_password2">
            </div>
        </div>

    </form>
    <div class="form-actions text-center">
        <button type="submit" class="btn btn-secondary btn-sm" form="login">Сохранить</button>
    </div>

    <div class="form-signin mt-3">
        <div id="hide-me" class="collapse">
            <ul>
                <li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком
                    похожим на неё.
                </li>
                <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                <li>Ваш пароль не может быть одним из широко распространённых паролей.</li>
                <li>Ваш пароль не может состоять только из цифр.</li>
            </ul>
        </div>
        <div class="mt-3 text-center">
            <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#hide-me" aria-controls="hide-me" aria-expanded="false" aria-label="Hide me">
                Правила создания пароля
            </button>
        </div>
    </div>

{% endblock %}
