{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock title %}

{% block content %}
{% include 'main/include/main_title_template.html' with title='Восстановление пароля' %}

    <form class="form-signin my-3 bg-white rounded shadow-sm" id="password_reset" name="password_reset" method="post">
        {% csrf_token %}
        <h6 class="font-weight-normal py-3 mb-3 text-muted text-center border-bottom">
            Введите email, на который будет отправлено письмо с ссылкой для восстановления пароля
        </h6>
        {% if form.email.errors %}
            <div class="alert alert-danger">
                {{ form.email.errors }}
            </div>
        {% endif %}

        <div class="form-group row">
            <label for="id_email" class="col-5">Адрес электронной почты:</label>
            <div class="col-7">
                <input class="form-control" id="id_email" type="email" name="email" autofocus="" required="">
            </div>
        </div>

    </form>
    <div class="form-actions text-center">
        <button type="submit" class="btn btn-secondary btn-sm" form="password_reset">Отправить</button>
    </div>

{% endblock %}
