<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
</head>
<body>

<div>
    Уважаемый, {{ user.first_name }}!
</div>
<div>
    Вы отправили запрос на сброс пароля.
</div>
<div>
    Чтобы выполнить сброс, пройдите по этому интернет-адресу:
</div>
<div>
    {{ protocol }}://{{ domain }}{% url 'main:password_reset_confirm' uidb64=uid token=token %}
</div>
<div>
    До свидания!
</div>
<div>
    С уважением, администрация сайта "{{ shop_title }}"
</div>

</body>
</html>
