{% extends 'base.html' %}

{% block title %}Опты{% endblock title %}

{% block content %}
<p>
    <h1>Главная</h1>
</p>
<div>
    <a href="{% url 'main:orders' %}">Заказы</a>
</div>
<div>
    <a href="{% url 'main:buyouts' %}">Выкупы</a>
</div>
<div>
    <a href="{% url 'main:providers' %}">Поставщики</a>
</div>
<div>
    <a href="{% url 'main:products' %}">Товары</a>
</div>
<div>
    <a href="{% url 'main:users' %}">Пользователи</a>
</div>
<div>
    <a href="{% url 'main:help' %}">Помощь</a>
</div>


{% endblock content %}
