{% extends 'base.html' %}

{% block title %}Каталог товаров{% endblock title %}

{% block content %}

    <h3 class="font-weight-normal text-center py-3 border-bottom" style="margin-block-start: 0;  margin-block-end: 0;">
        Каталог товаров для совместных закупок</h3>
    <div class="container">
            <div class="row">

                {% for p in products %}


                    <div class="col-md-3 mt-2">
                        <div class="card mb-3 shadow-sm">
{#                    {% include 'main/include/item_card_img_template.html' with order_item=p %}#}

                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                 xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                 focusable="false" role="img" aria-label="Placeholder: Thumbnail">

                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                {% if order %}
                                    <a href="{% url 'main:details' pk=p.id order_pk=order.pk %}">
                                {% else %}
                                    <a href="{% url 'main:details' pk=p.id %}">
                                {% endif %}
                                <image xlink:href="{{ MEDIA_URL }}{{ p.image }}" x="0" y="0" width="100%" height="100%"/>
                                    </a>

                                <text x="15%" y="50%" fill="#eceeef" dy=".3em">{{ p.name }}</text>

                            </svg>
                            <div class="card-body py-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="pt-3">{{ p.price }} ₽</p>
                                    {% if p.quantity > 0 %}
                                        {% if order %}
                                            <a href="{% url 'main:joint_item_to_product' pk=order.id product_pk=p.id %}"
                                               class="btn btn-sm btn-outline-dark">Добавить в заказ</a>
                                        {% else %}
                                            <a class="btn btn-sm btn-outline-dark"
                                               href="{% url 'main:product_to_orders' p.id %}">Добавить в заказ</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>


{% endblock content %}