{% extends 'base.html' %}

{% block title %}Удаление заказа{% endblock title %}

{% block content %}
    <h3 class="font-weight-normal text-center">
        Вы точно хотите удалить заказ?
    </h3>

    <hr class="mb-4">
    <div class="container mt-5 text-center">
        <div class="jumbotron bg-white rounded shadow-sm">
            <h1 class="display-4">Выбранный заказ будет удален</h1>
            <p class="lead">Как только оплата будет подтверждена, статус заказа будет обновлен.</p>
            <hr class="mb-4">
            <p class="h3">Номер заказа: {{ object.pk }}</p>
            <p class="">Сумма заказа: {{ object.price }}</p>
        </div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4 text-center">
                <button class="btn btn-secondary btn-sm" type="submit">Удалить</button>
                <a class="btn btn-secondary btn-sm" href="{% url 'main:orders' %}">Отмена</a>
            </div>
        </form>
    </div>

{% endblock content %}