<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователь{{ order_pk }}</title>
</head>
<body>
<div>
   Имя: <em>{{ first_name }}</em>
</div>
<div>
   Фамилия: <em>{{ last_name }}</em>
</div>
<div>
   Телефон: <em>{{ phone }}</em>
</div>
<div>
   Электронная почта: <em>{{ email }}</em>
</div>
<div>
   Адрес: <em>{{ delivery_address }}</em>
</div>
<div>
   Дата рождения: <em>{{ birth_date }}</em>
</div>
<div>
   Статус: <em>{{ role }}</em>
</div>
{% if balance_changed %}
<div>
    Новый баланс: <em>{{ balance }}</em>
</div>
{% endif %}
</body>
</html>