{% extends 'base.html' %}

{% block title %}Помощь{% endblock title %}

{% block content %}

<div class="container table-container">
    <h3 class="font-weight-normal text-center py-3 mb-3 border-bottom box-shadow">
        Тут будет памятка о работе с сайтом
    </h3>
    {% comment %}
    <table border="1px" class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Место</th>
            <th scope="col">Фото</th>
            <th scope="col">Имя</th>
            <th scope="col">Описание</th>
            <th scope="col">Чем торгует</th>
        </tr>
        </thead>
        <tbody>
        {% for p in providers %}
        <tr>
            <td>{{ p.space }}</td>
            <td><img src="{{ p.picture }}" alt="ВК картинка"></td>
            <td><a href="{{p.vk_link}}">{{ p.name }}</a></td>
            <td>{{ p.description }}</td>
            <td>{{ p.product_type }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endcomment %}
</div>

{% endblock content %}