{% extends 'base.html' %}

{% block title %}Магазин товаров{% endblock title %}


{% block content %}

{#{% block auth %}#}
{% if user.is_authenticated %}
<p>
    <span> Логин: {{ user.username }} </span>
    <span> <a href="{% url 'main:logout' %}">Выход</a> </span>
</p>
{% if user.first_name and user.last_name %}
<span> Имя: {{ user.first_name }}  Фамилия: {{ user.last_name }} </span>
{% endif %}
<p>
    <a href="{% url 'main:password_change' %}">Смена пароля</a>
</p>


{% if pers_area_url == 'administrator' %}
<p>
    <a href="{% url 'main:administrator' %}">Личный кабинет</a>
</p>
{% elif pers_area_url == 'sborschik' %}
<p>
    <a href="{% url 'main:sborschik' %}">Личный кабинет</a>
</p>
{% elif pers_area_url == 'zakupschik' %}
<p>
    <a href="{% url 'main:zakupschik' %}">Личный кабинет</a>
</p>
{% else %} {# 'zakazschik' #}
<p>
    <a href="{% url 'main:zakazschik' %}">Личный кабинет</a>
</p>
{% endif %}

{% else %}
<p>
    <a href="{% url 'main:login' %}">Войти</a>
</p>
<p>
    <a href="{% url 'main:signup' %}">Регистрация</a>
</p>
{% endif %}
{#{% endblock %}#}

<div class=container">
    <div class="py-5">
        <!-- img class="d-block mx-auto mb-4" src="solid.svg" alt="" width="72" height="72" -->
        <h2>Checkout form</h2>
        <p class="lead">Below is an example form.</p>
        <hr class="mb-4">
    </div>
    <form method="post">
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Имя</label>
            <div class="col-sm-10">
                <input type="text" name={{ form.name.name }} class="form-control" placeholder="name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputSpace" class="col-sm-2 col-form-label">Место</label>
            <div class="col-sm-10">
                <input type="text" name={{ form.name.space }} class="form-control" placeholder="Место">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Continue to checkout</button>
            </div>
        </div>
    </form>
    <div>
        {% if providers %}
        <table border="1px" class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Место</th>
                <th scope="col">Фото</th>
                <th scope="col">Имя</th>
                <th scope="col">Описание</th>
                <th scope="col">Чем торгует</th>
            </tr>
            </thead>
            <tbody>
            {% for p in providers %}
            <tr>
                <td>{{ p.space }}</td>
                <td><img src="{{ p.picture }}" alt="ВК картинка"></td>
                <td><a href="{{p.vk_link}}">{{ p.name }}</a></td>
                <td>{{ p.description }}</td>
                <td>{{ p.product_type }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock content %}