{% extends 'base.html' %}

{% block title %}Заказы{% endblock title %}

{% block content %}

<div>
    <div class="container">
        <h2 class="text-center">Сделать новый заказ</h2>
        <hr class="mb-4">
        <button class="btn btn-outline-secondary mb-4" data-toggle="collapse" data-target="#hide-me" aria-expanded="true">Правила оформления заказа</button>
        <div id="hide-me" class="collapse in">
            <p class="mb-5">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>

        <form class="needs-validation" id="order" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                      <label for="photo-input" class="col-2 col-form-label">Фото товара</label>
                      <div class="col-10 custom-file">
                          <input class="custom-file-input" type="file" name="{{ form.images.name }}" multiple="" id="photo-input">
                          <label class="custom-file-label text-truncate">выберите файл</label>
                      </div>
            </div>

            <div class="form-group row">
                 <label for="place-input" class="col-2 col-form-label">Место</label>
                  <div class="col-10">
                        <input class="form-control" id="place-input" type="text" name="{{ form.place.name }}" placeholder="укажите место" required="" >
                  </div>
            </div>

            <div class="form-group row">
                 <label for="price-input" class="col-2 col-form-label">Цена</label>
                  <div class="col-10">
                        <input class="form-control" id="price-input" type="number" name="{{ form.price.name }}" placeholder="укажите цену" required="" >
                  </div>
            </div>

            <div class="form-group row">
                 <label for="count-input" class="col-2 col-form-label">Количество</label>
                  <div class="col-10">
                        <input class="form-control" id="count-input" type="number" name="{{ form.quantity.name }}" value="1" required="">
                  </div>
            </div>

            <div class="form-group row">
                 <label for="example-text-input" class="col-2 col-form-label">Сумма заказа</label>
                  <div class="col-10 col-form-label" id="check_sum">0</div>
            </div>

            <hr class="mb-4">
              <div class="form-group">
                <label for="comment_order">Коментарий к заказу</label>
                <textarea class="form-control" id="comment_order" name="{{ form.order_comment.name }}" placeholder="цвет, размер и пр." rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="comment_customer">Коментарий для себя</label>
                <textarea class="form-control" id="comment_customer" name="{{ form.customer_comment.name }}" placeholder="заметка по товару и пр." rows="3"></textarea>
              </div>
            <div class="mb-4 text-center">
                <button class="btn btn-outline-dark" type="submit">Заказать</button>
                <button class="btn btn-outline-dark" type="">Отмена</button>
            </div>
          </form>
        </div>
</div>
<script>
    $('.custom-file-input').on('change', function() {
       let fileName = $(this).val().split('\\').pop();
       $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });

    $(function() {
      $('#order').change(function(){
        let sum =  parseInt($("#price-input").val(), 10) * parseInt($("#count-input").val(), 10);

        $('#check_sum').html( sum + sum / 10);
      });
    });

</script>
{% endblock content %}