{% extends 'base.html' %}
{% load static %}
{% block title %}Новый заказ{% endblock title %}

{% block content %}

    <div class="container">
       <h2 class="text-center">Сделать новый заказ</h2>
       <hr class="mb-4">
       <button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#roles" aria-expanded="false" aria-controls="roles">Правила оформления заказа</button>

        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="roles">
              <div class="my-3 p-3 bg-white rounded shadow-sm">
                  <p>В поле 'Фото товара' выберите одну или несколько фотографий товаров,
                     далее нажмите 'Заказать', автоматически фотографии будут добавлены к заказу.<br>
                  Далее Вы можете изменить данные по каждому товару.<br>
                  Заказ возможно редактировать только, пока он в статусе '{{ STATUS_CREATED_STR }}'</p>
              </div>
            </div>
          </div>
        </div>

       <div class="my-3 p-3 bg-white rounded shadow-sm">
            <form class="needs-validation" id="order" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="photo-input" class="col-2 col-form-label">Фото товара</label>
                    <div class="col-10 custom-file">
                        <input class="custom-file-input" type="file" name="{{ form.images.name }}" multiple=""
                               id="photo-input">
                        <label class="custom-file-label text-truncate">выберите файл</label>
                    </div>
                </div>
            </form></div>
    </div>
    <div class="mb-4 text-center">
        <button class="btn btn-secondary btn-sm" type="submit" form="order">Заказать</button>
        <a class="btn btn-secondary btn-sm" href="{% url 'main:orders' %}">Отмена</a>
    </div>

    <script src="{% static '/js/name_to_photo.js' %}"></script>

{% endblock content %}