{% extends 'base.html' %}
{% load static %}
{% block title %}Новый товар{% endblock title %}

{% block content %}
    <h3 class="font-weight-normal text-center text-muted" style="color: #6c757d">
        Добавление нового товара в заказ #{{ order.id }}
    </h3>
    <hr class="mb-4">

    <div class="container my-3 p-3 bg-white rounded shadow-sm">
        <form class="needs-validation" name="form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                      <label for="id_image" class="col-2 col-form-label">Фото товара</label>
                      <div class="col-10 custom-file">
                          <input class="custom-file-input" type="file" name="image" accept="image/*" multiple="" id="id_image">
                          <label class="custom-file-label text-truncate">выберите файл</label>
                      </div>
            </div>

            <div class="form-group row">
                 <label for="id_place" class="col-2 col-form-label">Место</label>
                  <div class="col-10">
                        <input class="form-control" id="id_place" type="text" name="{{ order.place.name }}" value="{{ order.place }}" placeholder="укажите место" required="" >
                  </div>
            </div>

            <div class="form-group row">
                 <label for="id_price" class="col-2 col-form-label">Цена</label>
                  <div class="col-10">
                        <input class="form-control" id="id_price" type="number" name="{{ order.price.name }}" value="{{ order.price }}" placeholder="укажите цену" required="" >
                  </div>
            </div>

            <div class="form-group row">
                 <label for="id_count" class="col-2 col-form-label">Количество</label>
                  <div class="col-10">
                        <input class="form-control" id="id_count" type="number" name="{{ order.quantity.name }}" value="{{ order.quantity }}" required="">
                  </div>
            </div>

            <hr class="mb-4">
              <div class="form-group">
                <label for="id_comment_order">Коментарий к заказу</label>
                <textarea class="form-control" id="id_comment_order" name="{{ order.order_comment.name }}" placeholder="цвет, размер и пр." rows="3">{{ order.order_comment }}</textarea>
              </div>
              <div class="form-group">
                <label for="id_comment_customer">Коментарий для себя</label>
                <textarea class="form-control" id="id_comment_customer" name="{{ order.customer_comment.name }}" placeholder="заметка по товару и пр." rows="3">{{ order.customer_comment }}</textarea>
              </div>    </div>
            <div class="text-center">
                <button class="btn btn-secondary btn-sm" type="submit">Добавить в заказ</button>
                <a class="btn btn-secondary btn-sm" href="{% url 'main:order_details' pk=order.id %}">Отмена</a>
            </div>
        </form>

<script src="{% static '/js/name_to_photo.js' %}"></script>

{% endblock content %}