{% extends 'base.html' %}
{% load static %}
{% block title %}Новый заказ{% endblock title %}

{% block content %}
{% include 'main/include/main_title_template.html' with title='Сделать новый заказ' %}

    <div class="container my-3 p-3 bg-white rounded shadow-sm">

       <button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#roles" aria-expanded="false" aria-controls="roles">Правила оформления заказа</button>

        <div class="d-flex border-bottom">
          <div class="col my-3">
            <div class="collapse multi-collapse" id="roles">

                  <p>В поле 'Фото товара' выберите одну или несколько фотографий товаров,
                     далее нажмите 'Заказать', автоматически фотографии будут добавлены к заказу.<br>
                  Далее Вы можете изменить данные по каждому товару.<br>
                  Заказ возможно редактировать только, пока он в статусе '{{ STATUS_CREATED_STR }}'</p>
              </div>
            </div>
        </div>

        <form class="my-3" id="order" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group col-sm-auto mr-auto ml-auto p-4">
{#                <label for="photo-input" class="col-3 col-form-label">Фото товара</label>#}
                <div class="custom-file">
                    <input class="custom-file-input" type="file" multiple name="{{ form.images.name }}"
                           id="photo-input">
                    <label class="custom-file-label text-truncate">выберите одну или несколько фото товара</label>
                </div>
            </div>
        </form>
    </div>
    <div class="mb-4 text-center">
        <button class="btn btn-secondary btn-sm" type="submit" form="order">Заказать</button>
        <a class="btn btn-secondary btn-sm" href="{% url 'main:orders' %}">Отмена</a>
    </div>

    <script src="{% static '/js/name_to_photo.js' %}"></script>

{% endblock content %}