{% extends 'base.html' %}

{% block title %}Выкуп{% endblock title %}

{% block content %}
    <h3 class="font-weight-normal text-center">
        Выкуп: {{ product.name }}
    </h3>

    <hr class="mb-4">

    <div class="container my-3 p-3 bg-white rounded shadow-sm">
        <div class="row">
            <div class="col">
                <form class="needs-validation" id="joint_order_item_form" action="" method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group row">
                        <label for="id_quantity" class="col-2 col-form-label">Количество (досутпно: {{ product.quantity }})</label>
                        <div class="col-10">
                            <input class="form-control" id="id_quantity" type="number"
                                   name="{{ form.quantity.name }}" value="{{ form.quantity.initial }}"
                                   required="id_quantity"
                                    {% if form.quantity.field.disabled %}
                                   disabled=""
                                    {% endif %}
                            >
                        </div>
                        {% if form.quantity.errors %}
                            <div class="alert alert-danger">
                                {{ form.quantity.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <hr class="mb-4">

                    <div class="form-group">
                        <label for="id_order_comment">Коментарий к заказу</label>
                        <textarea class="form-control" id="id_order_comment" name="{{ form.order_comment.name }}"
                                  placeholder="цвет, размер и пр." rows="3"
                                {% if form.order_comment.field.disabled %}
                                  disabled=""
                                {% endif %}
                        >{{ form.order_comment.initial }}</textarea>
                        {% if form.order_comment.errors %}
                            <div class="alert alert-danger">
                                {{ form.order_comment.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="id_customer_comment">Коментарий для себя</label>
                        <textarea class="form-control" id="id_customer_comment"
                                  name="{{ form.customer_comment.name }}" placeholder="заметка по товару и пр."
                                  rows="3"
                                {% if form.customer_comment.field.disabled %}
                                  disabled=""
                                {% endif %}
                        >{{ form.customer_comment.initial }}</textarea>
                        {% if form.customer_comment.errors %}
                            <div class="alert alert-danger">
                                {{ form.customer_comment.errors }}
                            </div>
                        {% endif %}
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="mb-4 text-center">
        <button class="btn btn-secondary btn-sm" type="submit" form="joint_order_item_form">Сохранить</button>
        <a class="btn btn-secondary btn-sm" href="{% url 'main:index' %}">Отмена</a>
    </div>

{% endblock content %}