{% extends 'base.html' %}

{% block title %}Оплата заказа{% endblock title %}

{% block content %}

    <div class="container mt-5 text-center">
        <div class="jumbotron bg-white rounded shadow-sm">
            <h1 class="display-4">Ожидайте подтверждения оплаты</h1>
            <p class="lead">Как только оплата будет подтверждена, статус заказа будет обновлен.</p>
            <hr class="mb-4">
            <p class="h3">Номер заказа: {{ object.pk }}</p>
            <p class="">Цена: {{ object.price }}</p>
        </div>
        <div class="mt-4 text-center">
            <a class="btn btn-secondary btn-sm" href="{% url 'main:order_details' pk=object.pk %}">Вернуться на страницу заказа</a>
        </div>
    </div>
{% endblock content %}