{% extends 'base.html' %}

{% block title %}Товар{% endblock title %}

{% block content %}

<div>
    <h3 class="font-weight-normal text-center py-3 mb-3 border_item-bottom box-shadow">Информация по товару</h3>
    <div class="container">
        <form class="needs-validation" id="order_item" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <label for="photo-input" class="col-2 col-form-label">Фото товара</label>
                <img src="{{ MEDIA_URL }}{{ product_image }}" height="150" width="150">
            </div>

            <div class="form-group row">
                 <label for="place-input" class="col-2 col-form-label">Место</label>
                  <div class="col-10">
                        <input class="form-control" id="place-input" type="text" name="{{ order_item.place.name }}" value="{{ order_item.place }}" placeholder="укажите место" required="" >
                  </div>
            </div>

            <div class="form-group row">
                 <label for="price-input" class="col-2 col-form-label">Цена</label>
                  <div class="col-10">
                        <input class="form-control" id="price-input" type="number" name="{{ order_item.price.name }}" value="{{ order_item.price }}" placeholder="укажите цену" required="" >
                  </div>
            </div>

            <div class="form-group row">
                 <label for="count-input" class="col-2 col-form-label">Количество</label>
                  <div class="col-10">
                        <input class="form-control" id="count-input" type="number" name="{{ order_item.quantity.name }}" value="{{ order_item.quantity }}" required="">
                  </div>
            </div>

            <hr class="mb-4">
              <div class="form-group">
                <label for="comment_order_item">Коментарий к заказу</label>
                <textarea class="form-control" id="comment_order_item" name="{{ order_item.order_comment.name }}" placeholder="цвет, размер и пр." rows="3">{{ order_item.order_comment }}</textarea>
              </div>
              <div class="form-group">
                <label for="comment_customer">Коментарий для себя</label>
                <textarea class="form-control" id="comment_customer" name="{{ order_item.customer_comment.name }}" placeholder="заметка по товару и пр." rows="3">{{ order_item.customer_comment }}</textarea>
              </div>
            <div class="mt-4 text-center">
                <button class="btn btn-outline-dark" type="submit">Заказать</button>
                <button class="btn btn-outline-dark" type="">Отмена</button>
            </div>
          </form>
        </div>
</div>
{% endblock content %}