{% extends 'base.html' %}

{% block title %}Товар{% endblock title %}

{% block content %}

    <div class="container table-container">
        <h3 class="font-weight-normal text-center py-3 mb-3 border-bottom box-shadow">
            Товар
        </h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <img src="{{ MEDIA_URL }}{{ product_image }}">
            {{ form.as_p }}
            <button class="btn btn-outline-dark" type="submit">Сохранить</button>

            {% if order_item.parent %}
                <a class="btn btn-outline-dark" href="{% url 'main:order_item_details' pk=order_item.parent.pk %}">
                    Заменяемый товар
                </a>
            {% endif %}

            {% if child_order_item %}
                <a class="btn btn-outline-dark" href="{% url 'main:order_item_details' pk=child_order_item.pk %}">
                    Замена
                </a>
            {% else %}
                <a class="btn btn-outline-dark" href="{% url 'main:replacement_order_item' pk=order_item.pk %}">
                    Добавить замену
                </a>
            {% endif %}
        </form>
    </div>

{% endblock content %}