{% extends 'base.html' %}

{% block title %}Заказы{% endblock title %}

{% block content %}
    <h3 class="font-weight-normal text-center text-muted" style="color: #6c757d">
        {% if product_id %}
            Укажите заказ куда добавить товар
        {% else %}
            Список ваших заказов
        {% endif %}
    </h3>
    <hr class="mb-4">
    <div class="container my-3 p-3 bg-white rounded shadow-sm">
        {% if product_id %}

            <a class="btn btn-sm btn-outline-dark my-3"
               href="{% url 'main:joint_item_to_product_new_order' product_pk=product_id %}" >
                Добавить в новый заказ
            </a>

{#            <a class="list-group-item list-group-item-action"#}
{#               href="{% url 'main:joint_item_to_product_new_order' product_pk=product_id %}" >#}
{#                Добавить в новый заказ#}
{#            </a>#}

        {% endif %}
        <div class="list-group">
            {% for o in orders %}
                {% if product_id %}
                    <a href="{% url 'main:joint_item_to_product' pk=o.id product_pk=product_id %}" class="list-group-item list-group-item-action ">
                {% else %}
                    <a href="{% url 'main:order_details' pk=o.id %}" class="list-group-item list-group-item-action ">
                {% endif %}
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Заказ #{{ o.id }}</h5>
                    <p class="mb-1">{{ o.status_to_string }}</p>
                    <p class="mb-1">Добавить имя заказчика</p>
                    <small>Создан {{ o.created_date }}</small>
                </div>

                <div class="d-flex w-100">

                    <h6 class="mr-2">К оплате:</h6>
                    <small>{{ o.price }}</small>
                </div>
                </a>
                {#                  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>#}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
