{% extends 'base.html' %}

{% block title %}Заказы{% endblock title %}

{% block content %}

<style></style>

    <div class="container">
    <h2 class="text-center mt-3 mb-5">Текущие заказы</h2>
    <table class="table table-hover table-striped" id="OrdersTable">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Место</th>
            <th scope="col">Фото</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col">Комментарий к заказу</th>
            <th scope="col">Свой комментарий</th>
        </tr>
        </thead>
        <tbody>
        {% for o in orders %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ o.place }}</td>
            <td>{{ o.image }}</td>
            <td>{{ o.price }}</td>
            <td>{{ o.quantity }}</td>
            <td>{{ o.order_comment }}</td>
            <td>{{ o.customer_comment }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
<script>
    $('#OrdersTable').on('click', 'tbody > tr > td', function ()
    {
        // 'this' refers to the current <td>, if you need information out of it
        window.open('http://example.com');
    });
</script>
{% endblock content %}