{% extends 'base.html' %}

{% block title %}Оплата заказа{% endblock title %}

{% block content %}

<div class="container">
    <h2 class="font-weight-normal text-center py-3 mb-3 border-bottom box-shadow">Вьюха по оплате заказа</h2>
    <div class="mb-4 text-center">
        <h3 class="font-weight-normal text-center py-3 mb-3 border-bottom box-shadow">Номер заказа: {{ order.id }}</h3>
    </div>
    <div class="mb-4 text-center">
        <h3 class="font-weight-normal text-center py-3 mb-3 border-bottom box-shadow">Цена: {{ order.price }}</h3>
    </div>
</div>

{% endblock content %}