{% extends 'base.html' %}

{% block title %}Товары{% endblock title %}

{% block content %}
{% include 'main/include/main_title_template.html' with title='Список товаров для совместных закупок' %}

    <div class="container">
      {% for p in object_list %}
          <div class="card my-3 rounded shadow-sm">
          <div class="card-header d-flex justify-content-between"  style="background-color: #e9ecef">
              <h5>{{ p.name }}</h5>
              <div class="btn-group">
                  <a class="btn btn-outline-secondary btn-sm" href="{% url 'main:update_product' pk=p.id %}">
                      Изменить
                  </a>
                  <a class="btn btn-outline-secondary btn-sm" href="{% url 'main:delete_product' pk=p.id %}">
                      Удалить
                  </a>
              </div>
          </div>
           <div class="row py-2 no-gutters">
              <div class="col-md-2">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                       xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                       focusable="false" role="img" aria-label="Placeholder: Thumbnail">

                      <title>Placeholder</title>
                      <rect width="100%" height="100%" fill="#55595c"></rect>
                      <a href="{% url 'main:update_product' pk=p.id %}">
                        <image xlink:href="{{ MEDIA_URL }}{{ p.image }}" x="0" y="0" width="100%" height="100%"/>
                      </a>
                  </svg>
              </div>
              <div class="col-md-3">
                <div class="card-body">
                      <p class="card-text">Цена: <small class="text-muted">{{ p.price }}</small></p>
                      <p class="card-text">Место: <small class="text-muted">{{ p.place }}</small></p>
                      <p class="card-text"> Количество: <small class="text-muted">{{ p.quantity }}</small></p>
                </div>
              </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <p class="card-text">Описание продукта</p>
                        <p class="card-text"><small class="text-muted">{{ p.comment }}</small></p>
                    </div>
              </div>
            </div>
          </div>
      {% endfor %}
     </div>
    <div class="text-center small mb-3">
        <a class="btn btn-secondary btn-sm text-center" href="{% url 'main:new_joint_product' %}">
            Добавить товар</a>
    </div>

    <div class="text-center">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt; </a> &nbsp;&nbsp;|&nbsp;&nbsp;
        {% endif %}
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} {% if page_obj.has_next %}
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
    {% endif %}
    </div>

{% endblock content %}