{% extends 'base.html' %}

{% block title %}Настройки{% endblock title %}

{% block content %}
    <h3 class="font-weight-normal text-center text-muted" style="color: #6c757d">
        Настройки сайта
    </h3>
    <hr class="mb-4">

    <div class="container">
        <form class="form-signin my-3 p-3 bg-white rounded shadow-sm" id="settings" name="settings" method="post">
            {% csrf_token %}
            <div class="form-group row border-bottom py-2">
                <label for="id_extra_charge" class="col-3 col-form-label">Наценка в %</label>
                <div class="col-9">
                    <input class="form-control" id="id_extra_charge" type="number" name="{{ form.extra_charge.name }}"
                           value="{{ form.extra_charge.initial }}" required=""
                            {% if form.extra_charge.field.disabled %}
                           disabled=""
                            {% endif %}
                    >
                </div>
                {% if form.extra_charge.errors %}
                    <div class="alert alert-danger">
                        {{ form.extra_charge.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_announcement">Объявление для главной страницы сайта:</label>
                <textarea class="form-control" id="id_announcement"
                      name="{{ form.announcement.name }}" placeholder="заметка по товару и пр."
                      rows="3">
                {{ form.announcement.initial }}</textarea>
            </div>
        </form>
        <div class="text-center">
            <button type="submit" class="btn btn-secondary" id="save" form="settings">Сохранить</button>
        </div>
    {% if is_submitted %}

    <div class="toast text-center" data-delay="1500" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
          Настройки сохранены
        </div>
    </div>
 {% endif %}

    </div>
    <script>
            $(document).ready(function(){
                $('.toast').toast('show');
            });
    </script>

{% endblock content %}