{% extends 'base.html' %}
{% load static %}

{% block title %}Настройки{% endblock title %}

{% block content %}
    <h3 class="font-weight-normal text-center text-muted" style="color: #6c757d">
        Настройки сайта
    </h3>
    <hr class="mb-4">

    <div class="container ">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                 aria-labelledby="nav-home-tab">

                {% if messages %}
                    {% for message in messages %}
                        <div class="toast" data-delay="1500" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-body text-white bg-success">
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <form id="noticeForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_announcement">Объявление для главной страницы сайта:</label>
                        <textarea class="form-control" id="id_announcement"
                                  name="{{ form.announcement.name }}" placeholder="заметка по товару и пр."
                                  rows="3">
                                        {{ form.announcement.initial }}
                                    </textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_contacts">Контакты:</label>
                        <textarea class="form-control" id="id_contacts"
                                  name="{{ form.contacts.name }}" placeholder="заметка по товару и пр."
                                  rows="3">
                                        {{ form.contacts.initial }}
                                    </textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_partnership">Условия сотрудничества:</label>
                        <textarea class="form-control" id="id_partnership"
                                  name="{{ form.partnership.name }}" placeholder="заметка по товару и пр."
                                  rows="3">
                                        {{ form.partnership.initial }}
                                    </textarea>
                    </div>

                    <div class="form-group">
                        <label for="id_extra_charge">Наценка для всех заказов в
                            %</label>
                        <input class="form-control" id="id_extra_charge" type="number"
                               name="{{ form.extra_charge.name }}"
                               value="{{ form.extra_charge.initial }}" required=""
                                {% if form.extra_charge.field.disabled %}
                               disabled=""
                                {% endif %}
                        >
                        {% if form.extra_charge.errors %}
                            <div class="alert alert-danger">
                                {{ form.extra_charge.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="id_work_schedule" class="mb-3">Загрузить изображение с графиком
                            работы</label>

                        {% if form.work_schedule.initial %}
                            <div class="col-md-3 m-2">
                                <a href="{{ MEDIA_URL }}{{ form.work_schedule.initial }}">
                                    <img src="{{ MEDIA_URL }}{{ form.work_schedule.initial }}"
                                         alt="График работы" height="100" width="100">
                                </a>
                            </div>
                        {% endif %}

                        <div class="custom-file">
                            <input class="custom-file-input" type="file" name="work_schedule"
                                   id="id_work_schedule" accept="image/*"
                                    {% if form.work_schedule.field.disabled %}
                                   disabled=""
                                    {% endif %}
                            >
                            <label class="custom-file-label text-truncate">Выберите файл</label>
                        </div>
                    </div>

                    <div class="my-3 text-center">
                        <button type="submit" class="btn btn-secondary" form="noticeForm">Сохранить</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    {# Popup messasges #}
    <script>
        $(document).ready(function () {
            $('.toast').toast('show');
        });
    </script>
{% endblock content %}
