{% extends 'base.html' %}

{% block title %}Пользователи{% endblock title %}

{% block content %}

<div>
    {#{% if users %}#}
    <h2>Зарегистрированные пользователи</h2>
    <table border="1px" class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Логин</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Роль</th>
            <th scope="col">Телефон</th>
            <th scope="col">Адрес</th>
            <th scope="col">Дата рождения</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            {% if user.role == roles.ADMINISTRATOR %}
                <td> {{ roles.ADMINISTRATOR_STR }} </td>
            {% elif user.role == roles.ZAKUPSCHIK %}
                <td> {{ roles.ZAKUPSCHIK_STR }} </td>
            {% elif user.role == roles.ZAKAZSCHIK %}
                <td> {{ roles.ZAKAZSCHIK_STR }} </td>
            {% else %}
                <td> {{ roles.UNREGISTERED_STR }} </td>
            {% endif %}
            <td>{{ user.phone }}</td>
            <td>{{ user.location }}</td>
            <td>{{ user.birth_date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {#{% endif %}#}
</div>

{% endblock content %}