{% extends 'base.html' %}

{% block title %}Пользователи{% endblock title %}

{% block content %}
    <h3 class="font-weight-normal text-center text-muted" style="color: #6c757d">
        Пользователи
    </h3>
    <hr class="mb-4">
    <div class="container my-3 p-3 bg-white rounded shadow-sm">
        <table class="table table-sm table-hover ">
            <thead class="thead-light table-ts">
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Роль</th>
                <th scope="col">Баланс</th>
                <th scope="col">Телефон</th>
                <th scope="col">Адрес</th>
                <th scope="col">Дата рождения</th>
            </tr>
            </thead>
            <tbody>
            {% for user in object_list %}
            <tr class="text-left small">
                <td><a href="{% url 'main:user_details' pk=user.pk %}">{{ user.email }}</a></td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.role_to_string }} </td>
                <td> {{ user.balance }} </td>
                <td>{{ user.phone }}</td>
                <td>{{ user.delivery_address }}</td>
                <td>{{ user.birth_date }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-center">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&lt; </a> &nbsp;&nbsp;|&nbsp;&nbsp;
            {% endif %}
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} {% if page_obj.has_next %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        {% endif %}
        </div>
</div>

{% endblock content %}
