{% extends 'base.html' %}

{% block title %}Заказы{% endblock title %}


{% block content %}
    {% include 'main/include/main_title_template.html' with title='Места' %}

    <div class="container my-3 p-3 bg-white rounded shadow-sm">
        <div class="list-group">
        {% for place in places %}
            <a class="list-group-item list-group-item-action"  href="{% url 'main:zakupschik_order_details_by_place' place=place %}">Место: {{ place }} </a>
        {% endfor %}
        </div>
    </div>
{% endblock content %}
