{% extends 'base.html' %}

{% block title %}Заказы на место{% endblock title %}


{% block content %}
    <h3 class="font-weight-normal text-center py-3 mb-3 border-bottom box-shadow">Список товаров для
        места {{ place }}</h3>
    <div class="container px-0">
        {% for product_data in products %}
            <div class="d-flex font-weight-normal px-4 my-1 card-header">
                <img src="{{ MEDIA_URL }}{{ product_data.product.image }}" height="100" width="200">

                <div class="my-1 mr-md-3">{{ product_data.product.name }}</div>
                <div class="my-1 mr-md-3">Цена: {{ product_data.price }}</div>
                <div class="my-1 mr-md-3">Количество: {{ product_data.total_quantity }}</div>
                <div class="my-1 mr-md-3">Статус: {{ product_data.item_status_str }}</div>
                <a class="btn btn-sm btn-outline-primary" data-toggle="collapse"
                   data-target="#hide-me{{ forloop.counter }}" aria-expanded="true" href="#">Детальная информация</a>
            </div>
            <div id="hide-me{{ forloop.counter }}" class="collapse in container border-right border-left">
                {% for order_item in product_data.items %}
                    <div class="container table-container">
                        <h5>Заказчик: {{ order_item.order.created_by.email }}
                            ({{ order_item.order.created_by.first_name }} {{ order_item.order.created_by.last_name }}) </h5>
                        <div>Количество: {{ order_item.quantity }}</div>
                        <div>Комментарий к заказу: {{ order_item.order_comment }}</div>
                        <div>Комментарий заказчика: {{ order_item.customer_comment }}</div>
                        <a class="btn btn-outline-dark" href="{% url 'main:order_item_details' pk=order_item.id %}">
                            Обновить статус
                        </a>
                        <hr class="mb-3">
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
