{% extends 'base.html' %}

{% block title %}Заказы на место{% endblock title %}


{% block content %}
    <h3 class="font-weight-normal text-center py-3 border-bottom" style="margin-block-start: 0;  margin-block-end: 0;">
        Товары готовые к выдаче
    </h3>
    <div class="container">
        {% for user_data in data %}
            <div class="row font-weight-normal py-2 m-2 bg-lg shadow-sm">
                <div class="col-7 row">
                    <div class="m-2">{{ user_data.user.email }}</div>
                    <div class="m-2">{{ user_data.user.first_name }}</div>
                    <div class="m-2">{{ user_data.user.last_name }}</div>
                </div>
                <div class="col-5 text-right">
                <a class="btn btn-sm btn-outline-secondary m-2" data-toggle="collapse"
                   data-target="#hide-me{{ forloop.counter }}" aria-expanded="true" href="#">Список товаров</a>
                </div>
            </div>
            <div id="hide-me{{ forloop.counter }}" class="collapse in container my-3 p-3">
                <div class="row">
                {% for item in user_data.items %}
                    <div class="col-md-4">
                        {% include 'main/include/item_card_img_template.html' with order_item=item %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}
