{% extends 'base.html' %}
{% load static %}

{% block title %}Заказы на место{% endblock title %}

{% block content %}
    {#<h2>First gallery:</h2>#}
    {##}
    {#  <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">#}
    {##}
    {#    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">#}
    {#      <a href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg" itemprop="contentUrl" data-size="1024x1024">#}
    {#          <img src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg" itemprop="thumbnail" alt="Image description" />#}
    {#      </a>#}
    {#                                          <figcaption itemprop="caption description">The modal plugin toggles your hidden content on demand, via data attributes or JavaScript. It <also></also> adds .modal-open to the <body> to override default scrolling behavior and generates a .modal-backdrop to provide a click area for dismissing shown modals when clicking outside the modal.</figcaption>#}
    {#    </figure>#}
    {##}
    {#    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">#}
    {#      <a href="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg" itemprop="contentUrl" data-size="964x1024">#}
    {#          <img src="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_m.jpg" itemprop="thumbnail" alt="Image description" />#}
    {#      </a>#}
    {#      <figcaption itemprop="caption description">Image caption 2</figcaption>#}
    {#    </figure>#}
    {##}
    {#    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">#}
    {#      <a href="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_b.jpg" itemprop="contentUrl" data-size="1024x683">#}
    {#          <img src="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_m.jpg" itemprop="thumbnail" alt="Image description" />#}
    {#      </a>#}
    {#      <figcaption itemprop="caption description">Image caption 3</figcaption>#}
    {#    </figure>#}
    {##}
    {#    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">#}
    {#      <a href="https://farm6.staticflickr.com/5023/5578283926_822e5e5791_b.jpg" itemprop="contentUrl" data-size="1024x768">#}
    {#          <img src="https://farm6.staticflickr.com/5023/5578283926_822e5e5791_m.jpg" itemprop="thumbnail" alt="Image description" />#}
    {#      </a>#}
    {#      <figcaption itemprop="caption description">Image caption 4</figcaption>#}
    {#    </figure>#}
    {##}
    {##}
    {#  </div>#}
    {##}
    {#<!-- Root element of PhotoSwipe. Must have class pswp. -->#}
    {#<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">#}
    {##}
    {#    <!-- Background of PhotoSwipe.#}
    {#         It's a separate element, as animating opacity is faster than rgba(). -->#}
    {#    <div class="pswp__bg"></div>#}
    {##}
    {#    <!-- Slides wrapper with overflow:hidden. -->#}
    {#    <div class="pswp__scroll-wrap">#}
    {##}
    {#        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->#}
    {#        <!-- don't modify these 3 pswp__item elements, data is added later on. -->#}
    {#        <div class="pswp__container">#}
    {#            <div class="pswp__item"></div>#}
    {#            <div class="pswp__item"></div>#}
    {#            <div class="pswp__item"></div>#}
    {#        </div>#}
    {##}
    {#        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->#}
    {#        <div class="pswp__ui pswp__ui--hidden">#}
    {##}
    {#            <div class="pswp__top-bar">#}
    {##}
    {#                <!--  Controls are self-explanatory. Order can be changed. -->#}
    {##}
    {#                <div class="pswp__counter"></div>#}
    {##}
    {#                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>#}
    {##}
    {#                <button class="pswp__button pswp__button--share" title="Share"></button>#}
    {##}
    {#                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>#}
    {##}
    {#                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>#}
    {##}
    {#                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->#}
    {#                <!-- element will get class pswp__preloader--active when preloader is running -->#}
    {#                <div class="pswp__preloader">#}
    {#                    <div class="pswp__preloader__icn">#}
    {#                      <div class="pswp__preloader__cut">#}
    {#                        <div class="pswp__preloader__donut"></div>#}
    {#                      </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {##}
    {#            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">#}
    {#                <div class="pswp__share-tooltip"></div>#}
    {#            </div>#}
    {##}
    {#            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">#}
    {#            </button>#}
    {##}
    {#            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">#}
    {#            </button>#}
    {##}
    {#            <div class="pswp__caption" style="position: center">#}
    {#                <div class="pswp__caption__center"></div>#}
    {#            </div>#}
    {##}
    {#          </div>#}
    {##}
    {#        </div>#}
    {##}
    {#</div>#}
    {% include 'main/include/main_title_template.html' with title='Список товаров для места ' id=place %}

    <div class="container my-3">
        <div class="text-center h5 bg-white shadow-sm rounded">Общая сумма: {{ total_sum }}</div>
        <form id="form_zakupschik_products" class="needs-validation" action="" method="POST"
              enctype="multipart/form-data">
            <div class="row">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div class="col-md-4">
                        <div class="card mb-3 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="300"
                                 xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                 focusable="false" role="img" aria-label="Placeholder: Thumbnail">

                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <a href="{% url 'main:update_product' pk=form.instance.pk %}">
                                    <image xlink:href="{{ MEDIA_URL }}{{ form.instance.image }}" x="0" y="0"
                                           width="100%" height="100%"/>
                                </a>

                                <text x="5%" y="10%" fill="#eceeef" dy=".3em">{{ form.instance.name }}</text>
                                <text x="5%" y="30%" font-size="20" fill="#eceeef" dy=".3em">
                                    Количество: {{ form.quantity }}</text>
                                <text x="5%" y="40%" fill="#eceeef" dy=".3em">Цена {{ form.instance.price }} ₽ шт.
                                </text>
                                <text x="5%" y="60%" fill="#eceeef" dy=".3em">{{ form.instance.comment }}</text>
{#                                {% for oi in  form.instance.orderitems_for_baught_out %}#}
{#                                    <text x="5%" y="70%" fill="#eceeef" dy=".3em">{{ oi.order_comment }}</text>#}
{#                                    <text x="5%" y="80%" fill="#eceeef" dy=".3em">{{ oi.customer_comment }}</text>#}
{#                                {% endfor %}#}
                            </svg>
                            <div class="card-body py-3">
                                <p class="item text-center">{% widthratio form.instance.price 1 form.quantity %} ₽</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    {#            <p class="item pt-3">{% widthratio item.product.price 1 item.product.quantity %} ₽</p>#}
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input"
                                               id="id_form-{{ forloop.counter0 }}-status1"
                                               name="form-{{ forloop.counter0 }}-status"
                                               value="{{ order_items_statuses.BAUGHT_OUT }}"
                                                {% if form.status.initial == order_items_statuses.BAUGHT_OUT %}
                                               checked
                                                {% endif %}
                                        >
                                        <label class="form-check-label"
                                               for="id_form-{{ forloop.counter0 }}-status1">Выкуплен</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input"
                                               id="id_form-{{ forloop.counter0 }}-status2"
                                               name="form-{{ forloop.counter0 }}-status"
                                               value="{{ order_items_statuses.NOT_BAUGHT_OUT }}"
                                                {% if form.status.initial == order_items_statuses.NOT_BAUGHT_OUT %}
                                               checked
                                                {% endif %}
                                        >
                                        <label class="form-check-label"
                                               for="id_form-{{ forloop.counter0 }}-status2">Невыкуплен</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
        <div class="mb-4 text-center">
            <button class="btn btn-secondary btn-sm" type="submit" form="form_zakupschik_products">Сохранить</button>
        </div>
    </div>
    <script src="{% static 'PhotoSwipe/photoswipe.min.js' %}"></script>
    <script src="{% static 'PhotoSwipe/photoswipe-ui-default.min.js' %}"></script>
    <script src="{% static '/js/cashOut_place.js' %}"></script>
    <script src="{% static 'js/PhotoSwipe.js' %}"></script>
{% endblock content %}
