{% extends 'base.html' %}

{% block title %}Заказы на место{% endblock title %}


{% block content %}
    <h3 class="font-weight-normal text-center py-3 mb-3 border-bottom box-shadow">Список заказов для места {{ place }}</h3>
<div class="container px-0">
    {% for order in orders %}
         <div class="d-flex font-weight-normal px-4 my-1 card-header">
             <h5 class="my-1 mr-md-auto">Заказ: <a href="{% url 'main:order_details' pk=order.id %}">{{ order.id }}</a></h5>
              <div class="my-1 mr-md-3">Статус: {{ order.status }}</div>
              <a class="btn btn-sm btn-outline-primary" data-toggle="collapse" data-target="#hide-me{{ forloop.counter }}" aria-expanded="true" href="#">Детальная информация</a>
         </div>

         <div id="hide-me{{ forloop.counter }}" class="collapse in container border-right border-left">
                <h5>Заказчик:</h5> {{ order.created_by.username }}

            <div class="mb-1">Цена: {{ order.price }}</div>
            <div>Количество: {{ order.quantity }}</div>
            <div>Комментарий к заказу:  {{ order.order_comment }}</div>
            <div>Комментарий аказчика: {{ order.customer_comment }}</div>
            <hr class="mb-3">
            {% for image in order.orderimage_set.all %}
             <div>
                 <form method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                     <span><input type="checkbox" checked="{{ image.selected }}" value="{{ image.id }} id="id"></span>
                     <span><img src="{{ MEDIA_URL }}{{ image.image  }}" height="100" width="200"></span>
                     <span><input type="text" value="{{ image.comment }}"></span>
                     <button type="submit">Сохранить</button>
                 </form>
             </div>

            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock content %}