header{
    background-color: #fff;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.container {
  /*max-width: 960px;*/
    max-width: 1220px;
    /*background-color: #fff;*/
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ccc;
}
/*a {*/
    /*color: #000;*/
    /*text-decoration: none;*/
    /*background-color: transparent;*/
/*}*/
.table-container {
  max-width: 1200px;
    /*max-width: 1200px;*/
    background-color: #fff;
}

/*.btn-outline-secondary {*/
    /*background-color: #e9ecef;*/
/*}*/
/*
 * Custom translucent site header
 */

.site-header {
  background-color: #6c757d;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #D6D6D6;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.table-ts{
    font-size: 12px;
}

.form-signin {
    width: 100%;
    max-width: 520px;
    padding: 15px;
    margin: 0 auto;
}

.bg-lg{
    background-color:  #e9ecef;
}